
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16pt;
}

body {
    background-color: #2D2D31 !important;
}

/* navbar */
nav {
    background-color: #000002;
    height: 80px;
    width: 100%;
    list-style: none;
}

nav ul {
    float: right;
    margin-right: 20px;
}

.custom-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* Sombra mais forte e destacada */
    z-index: 1030; /* Certifique-se de que o navbar está acima do conteúdo */
}


/* navbar end */


/* Dropdown Button */
.dropbtn {
    background-color: #F1F6E2;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #C1C1C1;
}

/* header */



.banner {
    height: 70vh;
    min-height: 500px;
    background-image: linear-gradient(#000000, #171719, #2D2D31);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner img {
    min-width: 100vh;
    width: 100%;
    margin-left: 0;
    margin-top: 140px;
}

.icon {
    height: 55px;
    margin-left: 50vw;
    margin-top: 50vh;
}

/* header end */

/* card index */

.card1 {
    height: 100%;
    text-align: center;
    border-radius: 25%;
    background-color: #5994F6 !important;
    border-radius: 25% 25% 0% 0% !important;

}

.card2 {
    height: 100%;
    text-align: center;
    border-radius: 25%;
    background-color: #4F7ECB !important;
    border-radius: 25% 25% 0% 0% !important;
}

.card3 {
    height: 100%;
    text-align: center;
    border-radius: 25%;
    background-color: #45689F !important;
    border-radius: 25% 25% 0% 0% !important;
}

.card img {
    border-radius: 30% 30% 0% 0%;
}

/* card index end */

/* card intro */
.card_intro {
    border-radius: 10px !important;
    text-align: justify;
    padding: 10px;
}

/* card intro end */

/* card de titulo */

.bcontent .col-sm {
    padding: 0 !important;
}

.titulo_img_left {
    border-radius: 20% 0% 0% 0% !important;
    height: 100%;
}

.titulo_img_right {
    border-radius: 0% 0% 20% 0% !important;
    height: 100%;
}

.card {
    border-color: transparent !important;
}

.card-body {
    height: 100%;
}

.texto {
    background-color: #fff;
    padding: 20px;
    text-align: justify;
    border-radius: 50px;
}

.texto p {
    text-indent: 30px;
}

.texto ul {
    list-style: none;
}

.bcontent {
    margin-bottom: 90px;
}

.bcontent .card {
    background-color: transparent !important;
}

/* card lugares  */
.card-img {
    height: 100%;
    border-radius: 0%;

}

.card-title {
    text-align: center;
}

.card_info img {
    border-radius: 0%;
}



/* conteudo */
.container .card .row .card-body {
    background-color: #E0E0E0;
}

.texto li:hover {
    background-color: transparent;
}

.conteudo .card-title {
    margin-top: 40%;
}

/*Animação Cards */
.card {
    transition: all 0.3s;

}

.animation:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

.card-text {
    text-indent: 30px;
}

/* footer */
footer {
    background-color: #000002;
    height: 49px;
    width: 100%;
}



/*barra de rolagem*/
/* Personaliza a barra de rolagem */
::-webkit-scrollbar {
    width: 20px; /* Largura da barra de rolagem */
}

/* Fundo invisível (transparente) da barra de rolagem */
::-webkit-scrollbar-track {
    background: transparent; /* Torna o fundo invisível */
}

/* Cor do "polegar" (a parte que se move) */
::-webkit-scrollbar-thumb {
    background: black; /* Cor do polegar */
}

/* Cor do "polegar" ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #D7D7D7; /* Cor ao passar o mouse */
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    body {
        font-size: 12px; /* Reduz o tamanho da fonte em dispositivos menores */
    }

    .banner img {
        margin-top: 100px; /* Ajuste adicional, caso necessário */
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 90%; /* Reduz a fonte de títulos proporcionalmente */
    }

    p a strong{
        font-size: 12px; /* Ajuste específico para parágrafos */
    }
}
